body {
    background-color: #f8f9fa;
}

h2, h4 {
    text-align: center;
}

/* Id del objeto en página HTML */
.img-preview {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    display: block;
    border: 2px solid #ddd;
    border-radius: 10px;
}

#map {
    width: 100%;
    height: 300px;
    background-color: #ddd;
    border-radius: 10px;
}


/* Modificacion color de la división donde se encuentra el paciente */
/* Estilo para la sección de datos del paciente */
#datosPaciente {
    background-color: #f8d7da; /* Rojo claro */
    padding: 15px;
    border-radius: 5px;
}


/* Modificacion color de la división donde se encuentra el doctor */


/* Modificacion color de la división donde se encuentra el diagnóstico */
